body {
  background-color: pink;
}

h2 {

  color:purple;

  background-color: lightblue;

  border: 5px solid black;

  padding: 50px;

  font-family:Luminari;

}

h3 {

    color:purple;

}

p {

  color:red;

}
img {
     border: 5px solid black;
     width: 75%;
     height: 75%;
}
